html, body {
    margin: 0;
    height: 100%;
}

.main_container {
    background-color: rgb(23, 46, 57);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.wheel_container {
    background-color: white;
    width: 500px;
    height: 500px;
}


@media (max-width: 520px) {
    .wheel_container {
        width: 300px;
        height: 300px;
    }
}

